{
    "solana_url":"https://api.mainnet-beta.solana.com"
    "pool_list":[
        {
            "pool_addr": "Eio6hAieGTAmKgfvbEfbnXke6o5kfEd74tqHm2Z9SFjf",
            "action": "buy",
            "binstep": 4,
            "upper_bin": 69,
            "stopbin": 69,
            "rebuild": 10
        }
    ]
}